{% extends "huhahei/base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<h1>Hello from leaderboard!</h1>
<div id="top3">
  {% for record in records|slice:":3" %}
    <div id="record-{{record.rank}}" class="top leaderboard-item">
      <span class="rank">{{ record.rank}}.</span>
      <span class="name">{{ record.name }}</span>
      <span class="score">{{ record.score }}</span>
    </div>
  {% endfor %}
</div>
<div id="leaderboard" class="leaderboard">
  {% for record in records|slice:"3:" %}
    <div class="leaderboard-item">
      <span class="rank">{{ record.rank}}.</span>
      <span class="name">{{ record.name }}</span>
      <span class="score">{{ record.score }}</span>
    </div>
  {% endfor %}
</div>
{% endblock %}