{% extends "huhahei/base.html" %}

{% block title %}Game{% endblock %}

{% block content %}
<h1>Hello player!</h1>

<p>
    You are playing {{ game.title}}
    (<a href="{% url 'board' game_id=game.id %}">leaderboard</a>)
</p>

<p>
    Your best score is <span id="top_score">{{ player.top_score }}</span>
</p>

<form >
    {% csrf_token %}
    <label for="{{ name_form.name.id_for_label }}">Name: </label>
    {{ name_form.name }}
    <button
        hx-post="{% url 'update-name' game_id=game.id %}"
        hx-include="closest form"
        hx-target="#messages"
        hx-swap="afterbegin"
    >Save</button>
</form>

<p>
    {% csrf_token %}
    Generate random score:
    <button
        hx-post="{% url 'submit' game_id=game.id %}"
        hx-include="closest p"
        hx-target="#messages"
        hx-swap="afterbegin"
    >Submit</button>
</p>

<hr/>

<div class="container" id="messages"></div>

{% endblock %}